type: google.api.Service
config_version: 3
name: $MANAGED_SERVICE
title: Cloud Endpoints + Cloud Run gRPC
apis:
- name: echo.EchoServer
usage:
  rules:
  - selector: echo.EchoServer.SayHello
    allow_unregistered_calls: true
  - selector: echo.EchoServer.SayHelloStream
    allow_unregistered_calls: true
backend:
  rules:
    - selector: "*"
      address: grpcs://$ADDRESS
      jwt_audience: $RUN_URL
authentication:
  providers:
  - id: google_id_token
    authorization_url: ''
    audiences: 'grpcs://grpc-gateway-1'
    issuer: 'https://accounts.google.com'
    jwks_uri: 'https://www.googleapis.com/oauth2/v1/certs'
  rules:
  - selector: "*"
    requirements:
      - provider_id: google_id_token